
.badges{
    margin: 0 auto;
}
@media(min-width: 768px){
    .badges_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
        justify-content: center;
    }
    .badges{
        margin: 0 0;
    }
}
