
.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges__buttons {
  margin-left:  15%;
  margin-bottom: 1rem;
  width: 100px;
  height: 29px;
  color: var(--just-white);
  background: var(--bitcoin-orange);
}
@media(max-width: 425px){
  .Badges__hero{
    height: 100px;
  }
}