.form-container{
    max-width: 570px;
    min-width: 320px;
    margin: auto;
    margin-top: 20px;
}
.form-container label {
    font-size: 1.3em;
}

.form-control{
    background-color: #ffffff00;
    border-radius: 20px;
    border-color:  #ffffff00;
    box-shadow: 0px 0px 0px 1px;
    outline:none;
    margin-top: 8px;
    margin-left: 5px;
}
.form-group{
    margin: 0 auto;
}
.form-button{
    margin-left: 20%;
    background-color: var(--bitcoin-orange);
    font-size: 1.5em !important;
}
.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}
.form-select > option {
        font-weight: normal;
        display: block;
        white-space: nowrap;
        min-height: 1.2em;
        padding: 0px 2px 1px;

}
.btn-primary{
    background-color: var(--bitcoin-orange) !important;
    border-color: var(--bitcoin-orange) !important ;
}
.form-group{
    display: block;
}
