.header{
    height: 36px;
    background-color: var(--warm-black);
}
/* Heade batata logo */
.header__batataContainer{
    height: 100%;
    margin-left: 10px;
    display:  flex;
    align-items: center;
}

.header__batata{
    margin: 10px;
    margin-left: 10px;
    height: 20px;
}
.header__words{
    color: var(--just-white);
    font-size: 2em;
    font-weight: bold;
}
@media(min-width: 390px){
    .header{
        width: 100%;
    }
}